<h1>Word Puzzle</h1>
<div ="container">
  <h2>$results</h2>
  <button>hint button</button>
  <div class="bs-example">
      <p>
        $vowel
      </p>
    </div>
    <p>
      <a href="/">play again?</a>
    </p>
</div>
