<h1>Word Puzzle</h1>
<p>Enter a word or sentence and app will create a word puzzle game for you</p>
<form action='/results' method='get'>
  <div class="form-group">
    <lable for="userInput">Enter a word or sentence</lable>
    <input id="userInput" name="userInput" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Play!</button>
</form>
